# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Coverage Reports
.coverage
htmlcov/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db